body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Color de fondo */
    overflow: hidden; /* Evitar desplazamiento de la página */
    position: relative; /* Para establecer posicionamiento absoluto de los botones */
}
.video-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh; /* Ocupar toda la altura de la pantalla */
}

video {
    height: 100%;
    width: 50%; /* Cada video ocupa el 50% del contenedor */
    object-fit: cover; /* Escalar el video para cubrir */
}
#video1 {
    object-position: left; /* Ajusta el video 1 para que muestre la mitad izquierda */
}

#video2 {
    object-position: right; /* Ajusta el video 2 para que muestre la mitad derecha */
}

.buttons-container {
    position: fixed; /* Posición fija en la ventana */
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.button-wrapper {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content; /* Ancho ajustado al contenido */
}
button {
    padding: 20px 40px;
    background-color: #1d252d;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 0 10px;
}
.text-container {
    text-align: center;
    margin-bottom: 20px; /* Ajusta la distancia entre los textos y los botones */
    margin-right: 220px; /* Ajusta la distancia lateral */
}
.text-container p {
    margin: 5px 0;
    white-space: nowrap; /* Evitar el ajuste de línea */
}
.t1 {
    font-size: 35px;
    font-style: bold;
    
}
.t2 {
    font-size: 20px;

}
.rounded-buttons {
    position: absolute;
    top: 20px; /* Ajusta la posición vertical */
    right: 20px; /* Ajusta la posición horizontal */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rounded-buttons button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px; /* Espacio entre los botones */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 20px;
    font-style: bold;
}
/* Estilos para el botón de pantalla completa */
.fullscreen-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5); /* Fondo transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fullscreen-button i {
    color: #333; /* Color del icono */
}